<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>


</head>
<body>
<header>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
      <h5 class="my-0 mr-md-auto font-weight-normal">Product management</h5>
      <div id="newP" style="margin-left: 70%;"><a class="btn btn-outline-primary" href="/insert">Add Product</a></div>
      
</div>
</header>
<center><h1>All Product</h1></center>
<div class="container">
    <table class="table" with="80%">
        <thead class="table-light">
            <tr>
                <td>Name</td>
                <td>Price</td>
                <td>Color</td>
                <td>Quantity</td>
                <td>Delete</td>
               
            </tr>
        </thead>
        <tbody>
            {{# each model}}
                <tr>
                    <td>{{nameProduct}}</td>
                    <td>{{price}} $</td>
                    <td>{{color}}</td>
                    <td>{{quantity}}</td>
                    <td><a id="deleteL" href="/delete?id={{_id}}" onclick="return confirmXoa('{{nameProduct}}')">
                    Delete</a></td>
                </tr>   
            {{/each}} 
        </tbody>
    </table>
</div>
{{> footer}}

    <script>
        function confirmXoa(name){
            let r = confirm('Do you want to delete ' + name + '?');
            return r;
        }
    </script>
</body>
</html>
